<% content_for :navtabs do %>
   <li><a href="/upload"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;Get started</a>
   </li>
   <li><a href="/about"><i class="glyphicon glyphicon-question-sign"></i>&nbsp;About</a>
   </li>
   <li  class="active"><a href="/contact"><i class="glyphicon glyphicon-user"></i>&nbsp;Contact</a>
   </li>
   <li><a href="/example"><i class="glyphicon glyphicon-search"></i>&nbsp;Example</a>
   </li>
    <li><a href="/package"><i class="glyphicon glyphicon-cloud-download"></i>&nbsp;Download</a>
   </li>
<% end %>

<div class="container hz-content">



    <h1 class="animated fadeInDown">Contact us</h1>
    <h2 class="animated fadeInDown">iCAGES relies on your feedback. Please feel free to send us an email telling us how do you like iCAGES, how can we further improve iCAGES or reporting a bug. We really appreciate your help. Thanks.</h2>



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <div class="container">
            <div class="page-header">
                <h2>Dr. Kai Wang</h2>
            </div>
            <div class="jumbotron">
                <div class="lead">Assistant Professor, Psychiatry and Preventive Medicine</div>
                <div class="lead">Member, Zilkha Neurogenetic Institute and Norris Comprehensive Cancer Center</div>
                <div class="lead">Web Site: <a href="http://genomics.usc.edu/">http://genomics.usc.edu</a>
                </div>
                <div class="lead">Email: <a href="mailto:kaiwang@usc.edu">kaiwang@usc.edu</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="page-header">
                <h2>Coco Dong</h2>
            </div>
            <div class="jumbotron">
                <div class="lead">Graduate Student, Zilkha Neurogenetic Institute</div>
                <div class="lead">USC Preventive Medicine Biostatistics Graduate Program</div>
                <div class="lead">Web Site: <a href="http://genomics.usc.edu/">http://genomics.usc.edu</a>
                </div>
                <div class="lead">Email: <a href="mailto:chenglid@usc.edu">chenglid@usc.edu</a>
                </div>
            </div>
        </div>

        <!-- /END THE FEATURETTES -->


    </div>
    <!-- /.container -->
</div>
