
  <div class="wrap" role="document" id="contenuto">
          <div id="full-width-slider" class="royalSlider"><div class="rsContent">


            <div class="container" ><div class="header-titolo">
            
		<ul id="clock" class="hidden-xs">
		  <li id="sec"></li>
		  <li id="hour"></li>
		  <li id="min"></li>
		      </ul>
            <h1 class="animated fadeInDown">iCAGES package</h1><h2 class="animated fadeInDown">command line iCAGES can be downloaded <a href="/download/icages.tar.gz">here</a>, or you can follow the instructions below to download and use iCAGES through command line.</h2></div></div>



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

     <div class="container">
      <div class="page-header">
        <h2>Download iCAGES</h2>
      </div>
      <p class="lead">Copy and paste the command line below to download and uncompress iCAGES.</p>
            <div class="jumbotron">
                <div class="lead"><code>wget http://icages.usc.edu:5000/download/icages.tar.gz</code></div>
                <div class="lead"><code>tar -zxvf icages.tar.gz</code></div>
            </div>
    </div>
    
    
     <div class="container">
      <div class="page-header">
        <h2>Quick start using examples</h2>
      </div>
      <p class="lead">In the <code>icages</code> folder, there is an example file called <code>input.txt</code>. It was in <a href="http://www.openbioinformatics.org/annovar/">ANNOVAR</a> input format. (Note that it can also take vcf file as input and the example input file is also given: <code>input.vcf</code>. You can also play around yourself). Copy paste the command line below to run this simple example and check the result, input.txt.icages </p>
            <div class="jumbotron">
                <div class="lead"><code>cd icages</code></div>
                <div class="lead"><code>icages.pl input.txt</code></div>
                <div class="lead"><code>less input.txt.icages</code></div>
            </div>
    </div>

    
    <!-- /END THE FEATURETTES -->


    </div><!-- /.container -->


