<% content_for :navtabs do %>
   <li><a href="/upload"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;Get started</a>
   </li>
   <li><a href="/about"><i class="glyphicon glyphicon-question-sign"></i>&nbsp;About</a>
   </li>
   <li><a href="/contact"><i class="glyphicon glyphicon-user"></i>&nbsp;Contact</a>
   </li>
   <li  class="active"><a href="/example"><i class="glyphicon glyphicon-user"></i>&nbsp;Example</a>
   </li>
    <li><a href="/package"><i class="glyphicon glyphicon-user"></i>&nbsp;Download</a>
   </li>
<% end %>


<!-- app/views/static_pages/about.html.erb -->
    <div class="container hz-content">

        <h1 class="animated fadeInDown">iCAGES</h1>
        <h2 class="animated fadeInDown">An examplary input/output walkthrough of iCAGES</h2>
    </div>



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

     <div class="container">
      <div class="page-header">
        <h2>Submission page of iCAGES</h2>
      </div>
        <img src="/img/example.1.png" width="100%">
    </div>
    
    
     <div class="container">
      <div class="page-header">
        <h2>Result page of iCAGES</h2>
      </div>
         <img src="/img/example.2.png" width="100%">
    </div>

    
    <!-- /END THE FEATURETTES -->


    </div><!-- /.container -->
