<div class="container hz-content">
  <h3>Submission id: <%= @submission.id %></h3>
  <% if @submission.done %>
    <script>var SUBMISSION_ID = <%= @submission.id %>;</script>
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#bubble_chart" role="tab" data-toggle="tab">Bubble Chart</a>
        </li>
        <li><a href="#bar_chart" role="tab" data-toggle="tab">Bar Chart</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="bubble_chart">
           <section class="hz-chart">
           </section>
        </div>
        <div class="tab-pane fade" id="bar_chart">
           <section class="hz-chart">
           </section>
        </div>
    </div>
    <div class="page-header">
        <h3>Download</h3>
    </div>
    <p>Please click <a href = "">here</a> to download summary table
    </p>
    <div class="page-header">
        <h3>Summary</h3>
    </div>
    <table class="table table-bordered hz-table" id="summary_table">
    </table>
    <script src="../assets/show_result.js"></script>

  <% else %>
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"><span class="sr-only">Loading...</span></div>
    </div>
    <p>Your result will be shown momentarily, this page will refresh every 30 seconds</p>
   <script>$(function() { setTimeout(function() { location.reload() }, 30000); }); </script>
  <% end %>
</div>
