<div class="container home_content">
  <h3>Submission id: <%= @submission.id %></h3>
  <% if @submission.done %>
    <script>var SUBMISSION_ID = <%= @submission.id %>;</script>
    <script src="../assets/show_result.js"></script>
  <% else %>
    <p>Your result will be shown momentarily, this page will refresh every 30 seconds</p>
    <progress></progress> 
   <script>$(function() { setTimeout(function() { location.reload() }, 30000); }); </script>
  <% end %>
</div>
