<div class="container hz-content">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-7">
                <center>
                    <h1>Submit a query</h1>
                </center>
            </div>
        </div>
        <div id="flash_msg">submit successfully!!!</div>
        <div class="form-horizontal hz-form" role="form">
            <div class="form-group" id="email_input">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-7 hz-inline">
                    <div id="email_sign" class="input-group-addon">@</div>
                    <input type="email" class="form-control" placeholder="Please leave an email address">
                    <span class="input-indicator"></span>
                </div>
                <div class="col-sm-3">
                    We'll send you a notification when job's done
                </div>
            </div>
            <div class="form-group" id="data_input">
                <label class="col-sm-2 control-label">Enter data</label>
                <div class="col-sm-7">
                    <textarea class="form-control" name="inputData" placeholder="Please enter your data here..." rows="7"></textarea>
                    <span class="input-indicator"></span>
                    <button id="submit_text" class="btn btn-default">Submit text</button>
                </div>
                <div class="col-sm-3">
                    <div class="hz-bar">
                        <span>Enter data directly with <a class="annovar" href="http://www.openbioinformatics.org/annovar/">ANNOVAR</a>
                            <button id="ex_button" type="button" class="btn btn-sm btn-link" data-toggle="popover" data-content="1 12919840 12919840 T C">(?)</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    <span class="hz-label">Or you can</span>
                </label>
                <div class="col-sm-7">
                    <div id="file_dropzone">
                        <div>
                            <span class="btn btn-default hz-file-btn">
                                <span><i class="glyphicon glyphicon-paperclip"></i>
                                </span>
                                <input id="file_upload" type="file" name="inputFile">
                            </span>
                            <span>Add or drag & drop your file here</span>
                        </div>
                    </div>
                    <div id="upload_progress" class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" style="width: 0%;">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                    <button id="submit_file" class="btn btn-default">Submit file</button>
                </div>
            </div>
        </div>
        <script src="assets/upload.js"></script>
</div>
