<!-- FOOTER -->
    <div class="container">
        <footer>
            <p class="pull-right"><a href="#">Back to top</a>
            </p>
            <p>&copy; 2014 Kai Wang's lab &middot; Powered by Zeyu He and Coco Dong
            </p>
        </footer>
    </div>
