<div id="home_content" class="container">
  
  <h1 class="text-center">Welcome to Project iCAGES!!!</h1>
  
  <section>
    <h3>Sample data</h3>
    <p class="code">
      1 12919840 T C
      <br>1 35332717 C A
      <br>1 55148456 G T
      <br>1 70504789 C T
      <br>1 167059520 A T
      <br>1 182496864 A T
      <br>1 197073351 C T
      <br>1 216373211 G T
      <br>
    </p>
  </section>
  
  <div id="flash_msg">submit successfully!!!</div>
  
  <form class="form" role="form" action="http://ec2-54-213-22-151.us-west-2.compute.amazonaws.com/upload" method="post">
    <div class="form-group" id="inputData">
      <label class="control-label" for="inputData">Data to be analyzed...</label>
      <textarea class="form-control" required name="inputData" placeholder="Please enter your data here...Or copy & paste the sample..." rows="7"></textarea>
      <span class="glyphicon glyphicon-remove form-control-feedback"></span>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
      
    </div>
  </form>
  <script src="assets/upload.js"></script>
</div>
