@import 'bootstrap-sprockets';
@import 'bootstrap';
h1 {
    font-size: 45px;
    font-weight: bold;
}
#logo {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 38px;
    color: rgb(69, 194, 124);
    &:hover {
        color: white;
    }
}
#flash_msg {
    background-color: #DFF0D8;
    color: #468847;
    padding: 0.5em 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    display: none;
}
.hz-content {
    margin-top: 90px;
}
#upload_progress {
    margin-top: 10px;
    margin-bottom: 10px;
}
#file_dropzone {
    height: 9em;
    text-align: center;
    border: 1px dashed #c3c3c3;
    &>div {
        margin-top: 35px;
        font-size: 20px;
        color: #5a5a5a;
    }
    .hz-file-btn {
        font-size: 24px;
        color: rgba(66, 139, 202, 0.64);
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        input {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            font-size: 200px;
            direction: ltr;
            cursor: pointer;
        }
        span {
            vertical-align: text-top;
        }
        &:hover {
            color: #428bca;
        }
    }
    border: 4px dashed #c3c3c3;
    &>div {
        margin-top: 32px;
        font-size: 30px;
        color: #BDBDBD;
        font-family: Geog;
    }
}
#email_sign {
    width: 1%;
}
section {
    margin-bottom: 2em;
}
.hz-bar {
    height: 20px;
    margin-top: 0.5em;
    display: table;
    height: 45px;
    margin-bottom: 0.5em;
    .hz-label {
        padding: 7px 0 7px;
        font-weight: bold;
        display: inline-block;
    }
    button {
        margin-right: 10px;
    }
}
.input-indicator {
    /*customization for showing indicator without control label*/
    
    top: 0;
}
.hz-chart {
    position: relative;
    background-color: rgb(245, 245, 175);
    .hz-title {
        position: absolute;
        padding-left: 2em;
        background-color: bisque;
        border: 3px solid white;
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .bar:hover {
        fill: #f0ad4e !important;
    }
    .axis path, .axis line {
        stroke: #000;
        shape-rendering: crispEdges;
    }
}
.hz-inline {
    display: inline-table;
    vertical-align: middle;
    .form-control {
        border-radius: 0;
    }
    & > .form-control {
        width: 100%;
        vertical-align: middle;
    }
}
.ex-btn {
    padding: 0px;
}
footer {
    margin-top: 20px;
}
.hz-form {
    border-radius: 4px;
    box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.14);
    background-color: rgb(248, 248, 248);
    padding: 2em 0 1em;
    label {
        font-size: 18px;
    }
}
.hz-table * {
    vertical-align: middle !important;
    text-align: center;
    .hz-drug {
        position: relative;
        ol {
            position: absolute;
            top: 0;
            left: -20px;
            background-color: rgba(231, 222, 222, 0.75);
            border-radius: 3px;
            z-index: 1;
            display: none;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-right: 4px;
        }
    }
    td {
        display: relative;
    }
}
.navbar.navbar-default.hz-navbar {
    .hz-brand {
        padding: 5px;
        img {
            height: 100%;
        }
    }
}
@media (min-width: 1300px) {
    .navbar.navbar-default.hz-navbar {
        &.hz-navbar-green {
            background-image: linear-gradient(to bottom, #fff 0%, #CDE4C4 100%);
            .navbar-nav>li>a {
                background-color: #EFF8DC;
            }
            .navbar-nav > .active > a {
                background-color: #F5F5F5;
            }
        }
        &.hz-navbar-blue {
            background-image: linear-gradient(to bottom, #DCEDF0 0%, #CEE2EB 100%);
            box-shadow: 0px 0px 1px 1px rgba(78, 154, 184, 0.14);
            min-height: 41px;
            .navbar-nav>li>a {
                background-color: #e5f3f0;
            }
            .navbar-nav > .active > a {
                background-color: #F5F5F5;
            }
        }
        border: 0;
        border-radius:0px;
        font-size:15px;
        .navbar-nav>li>a {
            color: #777;
            margin: -4px 12px -5px 4px;
            border-radius: 10px;
            box-shadow: 0px 3px 1px #777;
            padding-top: 13px;
            padding-bottom: 13px;
            border: 1px solid rgba(50, 50, 50, 0.14);
            &:hover, &:focus {
                background-color: #F5F5F5;
            }
        }
        .hz-brand {
            padding: 4px 20px;
            height: 40px;
            img {
                height: 167%;
                border-radius: 3px;
                margin: -10px 0px 0px 1px;
                background-color: rgba(238, 238, 238, 0.98);
                -webkit-transition: background-color 0.5s;
                transition: background-color 0.2s;
                box-shadow: 1px 1px 2px 2px rgba(50, 50, 50, 0.14);
                &:hover {
                    background-color: rgb(255, 252, 255);
                }
            }
        }
        .dropdown-menu {
            top: 111%;
            left: 19px;
            min-width: 122px;
        }
    }
}
@media (max-width: 1024px) {
    #wang_lab_brand {
        display: none;
    }
    .navbar.navbar-default.hz-navbar.hz-navbar-blue .navbar-nav > li > a > i {
        display: none;
    }
}
#wang_lab_brand {
    padding: 10px 15px;
    height: 40px;
    img {
        height: 120%;
        border-radius: 4px;
        background-color: #3A3F34;
        box-shadow: 1px 3px 1px 0px rgba(50, 50, 50, 0.14);
    }
}
#sample_btn {
    background-image: linear-gradient(to bottom, #dcedf0 0%, #cee2eb 100%);
    background-color: #cee2eb;
}
.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
}
.hz-more {
    position: relative;
    float: left;
    width: 20px;
    height: 20px;
    margin: -1px -10px -1px -20px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    text-indent: 0;
    cursor: pointer;
    background-image: -webkit-linear-gradient(#5490ca, #4183c4);
    background-image: linear-gradient(#5490ca, #4183c4);
    background-repeat: repeat-x;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    opacity: 0;
    -webkit-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
    -webkit-transition: -webkit-transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
}
