@import 'bootstrap-sprockets';
@import 'bootstrap';

h1 {
    font-size: 45px;
    font-weight: bold;
}

#logo {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 38px;
    color: rgb(69, 194, 124);
    &:hover {
	color: white;
    }
}

#flash_msg {
    background-color: #DFF0D8; 
    color: #468847;
    padding: 0.5em 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    display: none;
}

.hz-content {
    margin-top: 90px;
}

#upload_progress {
    margin-top: 10px;
    margin-bottom: 10px;
}

#file_dropzone {
    height: 9em;
    text-align: center;
    border: 1px dashed #c3c3c3;
    &>div {
	margin-top: 35px;
	font-size: 20px;
	color: #5a5a5a;
    }	
    .hz-file-btn {
        font-size: 24px;
        color: rgba(66, 139, 202, 0.64);
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        input {
            position: absolute;
            top: 0;
            right: 0;   
            margin: 0;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            font-size: 200px;
            direction: ltr;
            cursor: pointer;
        }
        span {
            vertical-align: text-top;
        }
        &:hover {
            color: #428bca;
        }
    }
} 

#email_sign {
    width: 1%;
}
section {
    margin-bottom: 2em;
}
.hz-bar {
    height: 20px;
    margin-bottom: 0.5em;
    .hz-label {
        padding: 7px 0 7px;
        font-weight: bold;
        display: inline-block;
    }
}
.input-indicator {
    /*customization for showing indicator without control label*/
    top: 0;
}
.hz-chart {
    position: relative;
    background-color: rgb(245, 245, 175);
    .bar:hover {
        fill: #f0ad4e !important;
    }
    .axis path,
    .axis line {
        stroke: #000;
        shape-rendering: crispEdges;
    }
}
.hz-inline {
    display: inline-table;
    vertical-align: middle;
    .form-control {
        border-radius: 0;
    }
    & > .form-control {
        width: 100%;
        vertical-align: middle;
    }
}
.ex-btn {
    padding: 0px;
}
#submit_text {
    margin-top: 10px;
}
footer {
    margin-top: 20px;
}
.hz-form {
    border-radius: 4px;
    box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.14);
    background-color: rgb(248, 248, 248);
    padding: 2em 0 1em;
    label {
       font-size: 18px;
    }
}
.hz-table * {
    vertical-align: middle !important;
    text-align: center;
}
